.header
  = render partial: 'layouts/header'

.main__update
  .main__update--text
    更新しました
  .main__update--mypage
    = link_to 'マイページへ戻る', edit_user_path(current_user)

.footer
  = render partial: "layouts/footer" 