.create-wrapper {
  height: calc(100vh - 110px);
  background-color: lightgrey;
  &__text {
    font-size: 50px;
    text-align: center;
  }
  &__top {
    height: 100px;
    &--btn {
    font-size: 15px;
    color: $black;
    text-decoration: none;
    margin: 0 0 0 auto;
    }
  }
  &__mypage {
    height: 200px;
    background-color: lightgreen;
    &--btn {
      font-size: 15px;
      color: $black;
      text-decoration: none;
      margin: 0 0 0 auto;
    }
  }
}