.main__edit {
  height: calc(100vh - 110px);
  background-image: url('/assets/bgi3.png');
  display: flex;
  &--forms {
    width: 60%;    
    align-items: center;
    padding: 60px 50px 30px 200px;
    position: relative;
    &--title {
      height: 50px;
      width: 100%;
      padding: 20px 0;
      margin: 30px 0;
    }
    &--material {
      height: 150px;
      width: 100%;
      margin-bottom: 30px;
      border: 1px solid lightgray;
    }
    &--recipe {
      height: 220px;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 20px;
    }
    &--image {
      width: 350px;
      text-decoration: none;
      font-weight: bold;
    } 
    &--submit {
      padding: 12px 35px;
      text-decoration: none;
      background-color: $green;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      float: right;
      position: absolute;
      right: -270px;
      bottom: 26%;
      cursor: pointer;
    }
    &--inputImage {
      font-size: 50px;
      position: absolute;
      right: -130px;
      cursor: pointer;
      bottom: 24%;
      .post_img {
        display: none;
      } 
    }
  }
  &__previews {
    width: 40%;
    padding: 115px 100px 100px 20px;
    #img_prev {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
      border: 1px solid #000;
    }
  }
}

@media screen and (max-width: 760px) {
  .main__edit--forms {
    width: 55%;
    padding: 60px 20px 20px 40px;
    &--title {
      height: 40px;
    }
    &--material {
      height: 70px;
    }
    &--recipe {
      height: 160px;
    }
    &--submit {
      padding: 6px 20px;
      text-decoration: none;
      background-color: $green;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      float: right;
      position: absolute;
      right: -220px;
      bottom: 26%;
    }
    &--inputImage {
      font-size: 50px;
      position: absolute;
      right: -130px;
      cursor: pointer;
      bottom: 23%;
      .post_img {
        display: none;
      } 
    }
  }
  .main__edit__previews {
    width: 45%;
    #img_prev {
      width: 250px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}