.footer {
  height: 40px;
  background-color: lightgray ;
  filter:drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    text-align: center;
  }
}