.header {
  height: 70px;
  background-color: #FCAA01;
  // border-bottom: 1px solid $black;
  filter: drop-shadow(3px 8px 3px #757575);
  display: flex;
  &__left {
    width: 70%;
    display: flex;
    align-items: center;
    overflow: auto;
    &--logo {
      margin: 10px 60px 0;
      align-items: center;
    }
    &--text {
      font-size: 15px;
    }
  }
  &__right {
    width: 30%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    &--list {
      font-size: 15px;
      color: $black;
      text-decoration: none;
      margin: 0 0 0 auto;
    }
  }
}