.header {
  height: 9vh;
  width: 100vw;
  padding: 0 50px;
  background-color: #FCAA01;
  position: relative;
  filter: drop-shadow(3px 8px 3px #757575);
  // position: relative;
  &__logo {
    float: left;
    height: 8vh;
    position: relative;
    img {
      position: absolute;
      top: -10px;
      left: 10px
    }
  }
  &__lists {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    margin-left: auto;
    &--list {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 0;
      text-decoration: none;
      color: white;  
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top:100%;
        left: 0;
        border-radius: 3px;
        background:white;
        transition: .2s;
      }
      &:hover:before {
        top: -webkit-calc(100% - 3px);
        top: calc(100% - 3px);        
      }
    }

  }
}

@media screen and (max-width: 760px) {

  .header {
    position: relative;
    padding: 0px;
    z-index: 1;
    &__logo {
      margin-left: 50px;
    }
    &__nav {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      cursor: pointer;
      z-index: 2;
      &__buns,&__patty {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
      }
    }
    &__lists {
      position: fixed;
      background-color: $orange;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -10%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-in-out;
      &--list {
        font-size: 22px;
        color: $white;
        font-weight: bold;
      }
    }
  }
  .open {
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    z-index: 1;
  }
}

