.main {
  height: calc(100vh - 110px);
  display: flex;
  background-color: $beju;
  padding: 0 150px;
  &__left {
    width: 60%;
    padding-top: 20px; 
    &--groups {
      padding: 40px 0;
      overflow: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0 0 10px;
      &--lists {
        height: 270px;
        margin: 10px 0;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        &:hover {
          filter: drop-shadow(3px 8px 3px #757575);
        }
        .img {
          border-radius: 10px;
          height: 230px;
          width:  200px;
          object-fit: cover;

        }
        &--textBox {
          &--text {
            margin-bottom: 5px;
            font-family: fantasy;
          }
        }
      }
    } 
  }
   &__right {
     height: calc(100vh - 110px);
     width: 40%;
     padding: 60px 40px;
     text-align: center;
     form {
       height: 30px;
       
       font-size: 15px;
       padding-left: 10px;
       margin: 30px auto;
       display: flex;
     }
     #keyword {
      width: 100%;
      margin-right: 10px;
     }
     .search-btn {
       width: 100px;
       margin: auto;
     }
     &--btn {
       width: 80px;
       margin: 10px;     
     }
     &--kategories {
       height: 500px;
       padding: 0 30px;
       &--text {
         text-align: center;
         margin-bottom: 30px;
       }
       &--lists {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &--tag {
          height: 40px;
          width: 30%;
          line-height: 40px;
          font-size: 13px;
          color: white;
          font-weight: bold;
          background-color: #757575;
          margin: 5px;
          border-radius: 10px;
        }
       }
     }
   }
}

@media screen and (max-width: 760px) {

  .main {
    padding: 20px;
    &__right {
      width: 50%;
    }
  }
}