.main {
  display: flex;
  background-color: $beju;
  padding: 0 150px;
  &__left {
    width: 60%;
    &--groups {
      margin-top: 10px;
      height: calc(100vh - 110px); 
      padding: 40px 0;
      overflow: auto;
      &--lists {
        height: 270px;
        margin-bottom: 20px;
        display: flex;
        &--image {
          width: 40%;
          text-align: center;
          margin-top: 15px;
        }
        .img {
          border-radius: 20px;
        }
        &--textBox {
          width: 60%;
          &--text {
            margin-bottom: 10px;
          }
        }
      }
    } 
  }
   &__right {
     height: calc(100vh - 110px);
     width: 40%;
     padding: 100px 40px;
     &--text {
       height: 100px;
       background-color: white;
       border: 1px solid $black;
       margin-bottom: 30px;
     }
     &--kategoli {
       height: 300px;
       background-color: white; 
       border: 1px solid $black;
     }
   }
}