.main {
  background-color: burlywood;
  display: flex;
  &__left {
    // height: calc(100vh - 110px);
    width: 70%;
    &--groups {
      height: calc(100vh - 110px); 
      padding: 40px 60px 0;
      background-color: $white;
      overflow: auto;
      &--lists {
        height: 270px;
        margin-bottom: 20px;
        background-color: white;
        border: 1px solid black;
      }
    } 
   }
   &__right {
     height: calc(100vh - 110px);
     width: 30%;
     background-color: $white;
     padding: 100px 40px;
     &--text {
       height: 100px;
       background-color: white;
       border: 1px solid $black;
       margin-bottom: 30px;
     }
     &--search {
       height: 300px;
       background-color: white; 
       border: 1px solid $black;
     }
   }
}