.main__right {
  height: calc(100vh - 110px);
  width: 40%;
  padding: 60px 40px;
  text-align: center;
  form {
    font-size: 15px;
    padding-left: 10px;
    margin: 20px auto;
    display: flex;
  }
  #q_title_or_material_or_recipe1_or_recipe2_or_recipe3_or_category_name_cont {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.5em;
    width: 350px;
    overflow: hidden;
    position: absolute;
  }
  #search-btn {
    display: none;
  }
  i {
    color: blue;
    margin: 10px;
    font-size: 20px;
    position: relative;
    left: 300px;
    cursor: pointer;
  }
  &--btn {
    width: 80px;
    margin: 10px;     
  }
  &__category {
    height: 90%;
    width: 100%;
    #text {
      text-align: center;
      margin-bottom: 5px;
    }
    &__box {
      height: 90px;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(240, 240, 240, 0.4);
      &__right {
        padding: 15px;
        text-align: left;
        &__name {
          font-size: 12px;
          color: black;
          margin-right: 7px;
          &:hover {
            font-weight: bold;
            border-bottom: 1px solid black;
          }
        }
        &__riceBowl {
          font-size: 12px;
          color: black;
          margin-right: 8px;
          &:hover {
            font-weight: bold;
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .main__left {
    width: 60%;
  }
  .main__right {
    width: 40%;
    padding: 60px 0;
  }
}