.post-wrapper {
  height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  &__left {
    width: 70%;
    padding: 30px 80px 0;
    align-items: center;
    &--title {
      height: 50px;
      width: 80%;
      paddint: 20px 0;
      margin-bottom: 20px;
    }
    &--materials {
      height: 150px;
      width: 80%;
      margin-bottom: 20px;
    }
    &--recipe {
      height: 220px;
      width: 80%;
      margin-bottom: 20px;
    }
    &--file {
      padding: 18px 35px;
      text-decoration: none;
      background-color: skyblue;
      color: $black;
      margin-left: 10px;
    } 
    &--submit {
      padding: 18px 35px;
      text-decoration: none;
      background-color: thistle;
      color: $black;
      margin-left: 10px;
    }
  }
  &__right {
    width: 30%;
    padding: 30px 30px 30px 20px;
    display: flex;
    align-items: center;
    &--btn {
      height: 200px;
      width: 100%;
      border: 1px solid black;
    }
  }
}