.post-wrapper {
  height: calc(100vh - 110px);
  width: 100%;
  background-color: $beju;
  display: flex;
  &__groups {
    width: 100%;    
    align-items: center;
    padding: 30px 400px;
    &--text {
      text-align: center;
    }
    &--title {
      height: 50px;
      width: 100%;
      padding: 20px 0;
      margin: 30px 0;
    }
    &--materials {
      height: 150px;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 30px;
    }
    &--recipe {
      height: 220px;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 20px;
    }
    &--file {
      width: 350px;
      text-decoration: none;
      font-weight: bold;
    } 
    &--submit {
      padding: 18px 35px;
      text-decoration: none;
      background-color: $green;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      margin-left: 10px;
      float: right;
    }
  }
  &__right {
    width: 30%;
    padding: 60px 20px;
  }
}

.post_select-details {
  float: right;
}

@media screen and (max-width: 760px) {
  .post-wrapper__groups {
    padding: 20px 50px;
    &--title {
      height: 40px;
    }
    &--material {
      height: 70px;
    }
    &--recipe {
      height: 160px;
    }
    &--submit {
      padding: 10px 27px;
      text-decoration: none;
      background-color: $green;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      margin-left: 10px;
      float: right;
    }
  }
}