.post-wrapper {
  height: calc(100vh - 110px);
  width: 100%;
  background-image: url('/assets/bgi3.png');
  display: flex;
  &__groups {
    width: 60%;    
    align-items: center;
    padding: 60px 50px 30px 200px;
    position: relative;
    &--text {
      text-align: center;
    }
    &--title {
      height: 50px;
      width: 60%;
      padding: 20px 0;
      margin: 30px 0;
    }
    &--materials {
      height: 150px;
      width: 60%;
      border: 1px solid lightgray;
      margin-bottom: 30px;
    }
    &--recipe {
      height: 220px;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 20px;
    }
    &--submit {
      padding: 12px 35px;
      text-decoration: none;
      background-color: $green;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      float: right;
      position: absolute;
      right: -270px;
      bottom: 26%;
      cursor: pointer;
    }
    &--inputImage {
      font-size: 50px;
      position: absolute;
      right: -130px;
      cursor: pointer;
      bottom: 24%;
      .post_img {
        display: none;
      } 
    }
  }
  &__previews {
    width: 40%;
    padding: 115px 100px 100px 20px;
    #img_prev {
      width: 300px;
      height: 300px;
      border-radius: 5px;
      object-fit: cover;
      border: 1px solid #000;
    }
  }
  .listing-form-box {
    position: absolute;
    top: 170px;
    right: 50px;
  }
  #parent_category {
    height: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 10px;
  }
  #child_category {
    height: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 10px;
  }
  #grandchild_category {
    height: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 10px;
  }
  p {
    position: absolute;
    top: -50px;
    right: 30px;
    font-weight: bold;
    color: red;
  }
}

.post_select-details {
  float: right;
}

@media screen and (max-width: 760px) {
  .post-wrapper__groups {
    width: 55%;
    padding: 20px 20px 20px 40px;
    &--title {
      height: 40px;
      width: 100%;
    }
    &--materials {
      height: 120px;
      width: 100%;
    }
    &--recipe {
      height: 220px;
    }
    &--submit {
      padding: 6px 20px;
      text-decoration: none;
      background-color: $green;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      float: right;
      position: absolute;
      right: -220px;
      bottom: 26%;
    }
    &--inputImage {
      font-size: 50px;
      position: absolute;
      right: -130px;
      cursor: pointer;
      bottom: 23%;
      .post_img {
        display: none;
      } 
    }
  }
  .post-wrapper__previews {
    width: 45%;
    #img_prev {
      height: 200px;
      width: 250px;
      margin-top: -80px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
  .listing-form-box {
    width: 70px;
    p {
      display: none;
    }
  }
  #parent_category {
    margin: 100px 0 0 170px;
  }
  #child_category {
    margin: 0 0 0 170px;
  }
  #grandchild_category {
    margin: 0 0 0 170px;
  }
}
