.result__head {
  height: 90px;
  display: flex;
  &--left {
    width: 60%;
    line-height: 90px;
    font-size: 40px;
    text-align: center;
  }
  &--right {
    width: 40%;
    display: flex;
    padding: 30px 0;
    &--search {
      height: 30px;
      width: 60%;
      border: 1px solid black;
    }
    &--btn {
      height: 30px;
      width: 40px;
      margin-left:20px;
      border: 1px solid black;
    }
  }
}

.result__groups {
  height: calc(100vh - 200px);
  overflow: auto;
  padding: 20px 60px 0;
  &--lists {
    height: 270px;
    margin-bottom: 20px;
    padding: 10px 30px;
    display: flex;
    .img {
      border-radius: 20px;
    }
    &--textBox {
      width: 60%;
      margin-left: 30px;
      font-size:20px;
      &--text {
        margin-bottom: 10px;
      }
    }
  }
}

