.mypage__main {
  height: calc(100vh - 110px);
  display: flex;
  background-color: $beju;
  padding: 0 150px;
  &--left {
    width: 40%;
    padding: 60px 40px;
    text-align: center;
    .edit_user {
      height: 100%;
      align-items: center;
    }
    &--form {
      height: 40px;
      width: 100%;
      padding-left: 10px;
      margin-top: 50px;
      font-size: 15px;
    }
    &--btn {
      margin-top: 50px;
      padding: 15px 70px;
      text-decoration: none;
      background-color: $orange;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      margin-left: 10px;
    }

  }
  &--right {
    width: 60%;
    padding: 60px 0;
    text-align: center;
    overflow: auto;
    &--groups {
      height: calc(100vh - 110px); 
      text-align: left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0 0 10px;
      &--list {
        height: 270px;
        margin: 30px 0;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        .img {
          border-radius: 5px;
        }
        &--textBox {
          &--text {
            margin-bottom: 5px;
          }
        }
      }
    } 
  }
}

.btn {
  margin-top: 30px;
  height: 100px;
  width: 230px;
}


.top-wrapper {
  height: 100vh;
  align-items: center;
  background-color: $beju;
  &__main {
    height: calc(100vh - 360px);
    text-align: center;
  }
  &__bottom {
    height: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    .new_user {
      height: 360px;
      width: 100vw;
      display: inline-block;
    }
    .input {
      height: 50px;
      width: 40%;
      margin: 15px 0;
      background-color: $beju;
      border:0 solid;
      border-bottom: 1px solid lightgray;
      text-align: center;
    }
    .login_btn {
      padding: 20px 100px;
      background-color: $orange;
      margin: 20px 0;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
    }
    .sign_up {
      padding: 24.5px 100px;
      text-decoration: none;
      background-color: $green;
      color: white;
      font-weight: bold;
      margin-left: 40px;
      border-radius: 50px;
    }
  }
}

.sign_up-wrapper {
  height: 100vh;
  display: flex;
  background-color: $orange;
  &__left {
    width: 60%;
    text-align: center;
  }
  &__right {
    width: 40%;
    align-items: center;
    text-align: center;
    input::placeholder {
      color: white;
      font-weight: bold;
    }
    .new_user {
      width: 100%;
      margin: 30% 0;
    }
    .form {
      height: 50px;
      width: 70%;
      margin: 15px 30px 15px 0;
      background-color: $orange;
      border:0 solid;
      border-bottom: 2px solid white;
      text-align: center;
      color: white;
      font-weight: bold;
    }
    .sign_up-btn {
      padding: 20px 50px;
      background-color: #61C359;
      margin: 20px 0;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
    }
    .sign_in {
      padding: 24px 70px;
      text-decoration: none;
      background-color: #FAFAFA;
      color: $black;
      margin: 0 30px 0 5px;
      color: #FCAA01;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
    }
  }
}

@media screen and (max-width: 850px) {
  .mypage__main--left {
    display: none;
  }
}