.mypage__main {
  @include donePage($padding: 0 150px);
  display: flex;
  &--left {
    width: 40%;
    padding: 60px 40px;
    text-align: center;
    .edit_user {
      margin-bottom: 60px;
      align-items: center;
    }
    &--form {
      height: 40px;
      width: 100%;
      padding-left: 10px;
      margin-top: 50px;
      font-size: 15px;
    }
    &--btn {
      margin-top: 50px;
      padding: 15px 70px;
      text-decoration: none;
      background-color: $orange;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      border: 0 solid;
      margin-left: 10px;
      cursor: pointer;
    }
    #iine {
      font-size: 20px;
      font-weight: 600;

    }
  }
  &--right {
    width: 60%;
    padding: 60px 0;
    text-align: center;
    overflow: auto;
    &--groups {
      height: calc(100vh - 110px); 
      text-align: left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0 0 10px;
      &--list {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        &:hover {
          filter: drop-shadow(3px 8px 3px #757575);
        }
        .img {
          border-radius: 5px;
        }
        &--textBox {
          &--text {
            margin-bottom: 5px;
          }
        }
      }
    } 
  }
}

.btn {
  margin-top: 30px;
  height: 100px;
  width: 230px;
}


.top-wrapper {
  height: 100vh;
  align-items: center;
  background-color: $beju;
  &__main {
    height: calc(100vh - 360px);
    text-align: center;
  }
  &__bottom {
    height: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    .new_user {
      height: 360px;
      width: 100vw;
      display: inline-block;
    }
    .input {
      height: 50px;
      width: 40%;
      margin: 15px 0;
      background-color: $beju;
      border:0 solid;
      border-bottom: 1px solid lightgray;
      text-align: center;
    }
    &--btn {
      display: flex;
      justify-content: center;
    }
    .login_btn {
      @include btn();
      background-color: $orange;
      border: 0 solid;
    }
    .google {
      @include btn($padding: 15px 40px);
      background-color: blue;
      color: white;
      border: 0 solid;
    }
    .sign_up {
      @include btn($margin: 20px 40px);
      text-decoration: none;
      background-color: $green;
    }
  }
}

.sign_up-wrapper {
  height: 100vh;
  display: flex;
  background-color: $orange;
  &__left {
    width: 60%;
    text-align: center;
  }
  &__right {
    width: 40%;
    align-items: center;
    text-align: center;
    input::placeholder {
      color: white;
      font-weight: bold;
    }
    .new_user {
      width: 100%;
      margin: 10rs0px 0;
    }
    .form {
      height: 50px;
      width: 70%;
      margin: 15px 30px 15px 0;
      background-color: $orange;
      border:0 solid;
      border-bottom: 2px solid white;
      text-align: center;
      color: white;
      font-weight: bold;
    }
    &--btn {
      margin-right: 24px;
      .sign_up {
        @include btn($padding: 12px 70px);
        background-color: #61C359;
      }
      .sign_in {
        @include btn($padding: 0,$margin: 0 auto,$color:$orange);
        background-color: #FAFAFA;
        height: 50px;
        width: 205px;
        line-height: 50px;
      }
      .google {
        @include btn($padding: 0,$margin: 20px auto);
        background-color: blue;
        height: 50px;
        width: 205px;
        line-height: 50px;
        text-decoration: none;
        a {
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .mypage__main {
    padding: 20px;
    &--left {
      width: 35%;
      padding: 60px 0 60px 20px;
      &--btn {
        padding: 20px;
      }
        }
    &--right {
      width: 65%;
    }
  }
}

