.header
  = render partial: 'layouts/header'

.main__destroy
  .main__destroy--text
    削除しました
  .main__destroy--mypage
    = link_to 'マイページへ戻る', edit_user_path(current_user)

.footer
  = render partial: "layouts/footer" 