.header

.main
  .main__left
    .main__left--head
      .main__left--head--text
        テキスト
    .main__left--groups
      .main__left--groups--lists
      .main__left--groups--lists
      .main__left--groups--lists
  .main__right
    .main__right--text
    .main__right--search

.footer