.header
.post-wrapper
  .post-wrapper__left
    .post-wrapper__left--title
      タイトルを入力してください
      .post-wrapper__left--title--text
    .post-wrapper__left--materials
      材料を入力してください
      .post-wrapper__left--materials--material
        .post-wrapper__left--materials--material--up
          .post-wrapper__left--materials--material--up--text
          .post-wrapper__left--materials--material--up--text
          .post-wrapper__left--materials--material--up--text
        .post-wrapper__left--materials--material--down
          .post-wrapper__left--materials--material--down--text
          .post-wrapper__left--materials--material--down--text
          .post-wrapper__left--materials--material--down--text
    
    .post-wrapper__left--recipe
      作り方を入力してください
      .post-wrapper__left--recipe--text
    .post-wrapper__left--image
      画像を添付してください
      .post-wrapper__left--image--box
        .post-wrapper__left--image--box--btn
        .post-wrapper__left--image--box--text
  .post-wrapper__right
    .post-wrapper__right--btn
.footer