.header
.result__head
  .result__head--left
    検 索 結 果 一 覧
  .result__head--right
    .result__head--right--search
      検索する
    .result__head--right--btn
      送信
.result__groups
  .result__groups--lists
  .result__groups--lists
  .result__groups--lists
.footer