.header
  = render partial: "layouts/header"

.main 
  -@posts.each do |post|
    .main__groups
      .main__groups--image
        = image_tag src= post.image, height: "230", width: "200", class: "img"
        .main__groups--text 
        = post.title

.footer
  = render partial: "layouts/footer"