.header__left
  .header__left--logo
    ロゴ
  .header__left--list
  .header__left--list
  .header__left--list
.header__right
  = link_to edit_user_path(current_user) do
    = icon('fas', 'cog', class: 'icon')
  .header__right--logout