.main__right
  .main__right__search
    %p レシピ検索
    = search_form_for @q, url: search_posts_path do |f|
      = f.search_field :title_or_material_or_category_name_or_body_cont, type: 'text'
      %label 
        = f.submit '検索', id: "search-btn"
        %i.fas.fa-search
  .main__right__category
    %p#text カテゴリ一覧
    .main__right__category__groups
      -@category.each do |category|
        = link_to category.name, category_path(category.id), class: "main__right__category__groups__name"